<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #b92828;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Conectate con nosotros en nuestras redes sociales!</h6>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/Giidea-Semillero-107196727433749" target="_Blanck">
            <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="you-ic">
            <mdb-icon fab icon="youtube" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">APPIN WEB</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Nuestra plataforma web fue desarrollada con el fin de realizar un material de apoyo explicito en la explicación de 
          funcionamiento de la aplicación móvil APPIN, para que de manera previa nuestros usuarios comprendan su funcionamiento 
          y tengan la posibilidad de incluir con la herramienta apk una fácil instalación en su dispositivo móvil.
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">APPIN MÓVIL</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Nuestros usuarios podrán acceder a la aplicación móvil de forma sencilla y directa, al realizar click en el botón 
          Descargar, el navegador procederá en la entrega de un archivo apk disponible para android y ios, la instalación solo requiere 
          de permiso de instalación al ser de una fuente diferente a la playstore.
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Semillero Giidea</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Somos un grupo de personas interasadas en la transformación digital de nuestro país, nos enfocamos en la investigación 
          y desarrollo constante de nuevas tecnologías que mejoren las problematicas sociales de nuestro país pero a su vez nuestros
          proyectos sean aplicables a nivel mundial para hacer una sociedad cada vez mejor.
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Colombia - Universidad del valle
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> proyectoappin2020@gmail.com
        </p>
        <p>
          <mdb-icon fab icon="whatsapp"></mdb-icon> + 57 317 3725482
        </p>
        <p>
          <mdb-icon fab icon="whatsapp"></mdb-icon> + 57 321 7009673
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://www.facebook.com/Giidea-Semillero-107196727433749"> GIIDEA</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->