<!--Ingenierías-->
<section class="section text-center">
    <mdb-card class="ingenierias">
    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5 white-text">
      <strong>INGENIERÍAS</strong>
    </h2> 
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/ingSistemasLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="#" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/ingElectronicaLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="#" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
    </mdb-card>
  </section>
<!--Ingenierías-->
<app-cursos-destacados></app-cursos-destacados>
<!--Ciencias Administrativas y Contables-->
<section class="section text-center">
    <mdb-card class="cienciasAdminCont">
    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5 white-text">
      <strong>CIENCIAS ADMINISTRATIVAS Y CONTABLES</strong>
    </h2> 
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/contaduriaPublicaLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="#" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/adminEmpresasLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="#" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
    </mdb-card>
  </section>
  <!--Ciencias Administrativas y Contables-->