<button mdbBtn type="button" color="default" rounded="true" outline="true" mdbWavesEffect>Validar certifícados 
    <mdb-icon fas icon="medal"></mdb-icon>
</button>
<br/><br/><br/>
<!--Ingenierías-->
<section class="section text-center">
    <div class="ings">
    <mdb-card class="ingenierias">
    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5 white-text">
      <strong>INGENIERÍAS</strong>
    </h2> 
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/ingSistemasLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a href="https://ing-sistemas-unidigital.vercel.app">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="https://ing-sistemas-unidigital.vercel.app" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/ingElectronicaLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="#" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
    </mdb-card>
</div>
  </section>
<!--Ingenierías-->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-cursos-destacados></app-cursos-destacados>
<!--Ciencias Administrativas y Contables-->
<section class="section text-center">
    <mdb-card class="cienciasAdminCont">
    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5 white-text">
      <strong>CIENCIAS ADMINISTRATIVAS Y CONTABLES</strong>
    </h2> 
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/contaduriaPublicaLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="#" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card>
                <!--Card image-->
                <div class="view overlay waves-light zoom" mdbWavesEffect>
                    <mdb-card>
                        <img src="../../../assets/adminEmpresasLogo.png" class="imgIngSistemas">
                    </mdb-card>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/.Card image-->
                <!-- Card footer -->
                <mdb-card-footer class="mdb-color lighten-3 text-center">
                    <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2 white-text">
                            <a href="#" class="white-text">
                            <mdb-icon fas icon="map-marked-alt"></mdb-icon>
                            RUTA DE APRENDIZAJE
                            <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                            </a>
                        </li>
                    </ul>
                </mdb-card-footer>
                <!-- Card footer -->
            </mdb-card>
            <!--/.Card-->
        </div>
        <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
    </mdb-card>
  </section>
  <!--Ciencias Administrativas y Contables-->
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<app-profesorado></app-profesorado>

<!--TODOS LOS CURSOS SECCIÓN-->
<section class="text-center pb-3">
    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5">
      <strong>Descubre todos nuestros cursos</strong>
    </h2>
    <!--TODOS LOS CURSOS DE LA A-Z-->
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-3" style="margin-left: auto;margin-right: auto; text-align: center;">
        <mdb-card class="cardCursosAZ zoom">
            <a><video autoplay muted loop class="myVideo1">
              <source src="../../../assets/cursosAZ.mp4" type="video/mp4">
            </video></a>
          <mdb-card-footer class="mdb-color lighten-3 text-center">
            <button mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect>
              Ver Cursos
              <mdb-icon fas icon="sign-in-alt"></mdb-icon>
            </button>
          </mdb-card-footer>
        </mdb-card>
      </div>
    </div>
      <!--Grid column-->
    <!--Grid row-->
    <!--TODOS LOS CURSOS DE LA A-Z-->
    <div class="row" style="text-align: center; margin-left: auto; margin-right: auto;">
      <!--TODOS LOS CURSOS DE CONTABILIDAD DE LA A-Z-->
       <!--Grid column-->
       <div class="col-md-6 mb-4" style="text-align: center; margin-left: auto; margin-right: auto;">
        <mdb-card class="cardImgCursosContaAZ zoom" style="text-align: center; margin-left: auto; margin-right: auto;">
           <a class="imgCursosContaAZ"><img src="../../../assets/cursosContaAZ.png" class="imgCursosContaAZ"></a>
          <mdb-card-footer class="mdb-color lighten-3 text-center">
            <button mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect>
              Ver Cursos
              <mdb-icon fas icon="sign-in-alt"></mdb-icon>
            </button>
          </mdb-card-footer>
        </mdb-card>
      </div>
      <!--Grid column-->
      <!--TODOS LOS CURSOS DE CONTABILIDAD DE LA A-Z-->
      <!--TODOS LOS CURSOS DE ADMINISTRACIÓN DE LA A-Z-->
       <!--Grid column-->
       <div class="col-md-6 mb-4" style="text-align: center; margin-left: auto; margin-right: auto;">
        <mdb-card class="cardImgCursosContaAZ zoom" style="text-align: center; margin-left: auto; margin-right: auto;">
            <a><img src="../../../assets/cursosAdminAz.png" class="imgCursosContaAZ"></a>
          <mdb-card-footer class="mdb-color lighten-3 text-center">
            <button mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect>
              Ver Cursos
              <mdb-icon fas icon="sign-in-alt"></mdb-icon>
            </button>
          </mdb-card-footer>
        </mdb-card>
      </div>
      <!--Grid column-->
      <!--TODOS LOS CURSOS DE ADMINISTRACIÓN DE LA A-Z-->
    </div>  
    <!--Grid row-->
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <!--Grid row-->
    <div class="row" style="text-align: center; margin-left: auto; margin-right: auto;">
      <!--TODOS LOS CURSOS DE SISTEMAS DE LA A-Z-->
      <!--Grid column-->
      <div class="col-md-6 mb-4" style="text-align: center; margin-left: auto; margin-right: auto;">
       <mdb-card class="cardImgCursosContaAZ zoom" style="text-align: center; margin-left: auto; margin-right: auto;">
           <a><img src="../../../assets/cursosSistemasAZ.png" class="imgCursosContaAZ"></a>
         <mdb-card-footer class="mdb-color lighten-3 text-center">
           <button mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect>
             Ver Cursos
             <mdb-icon fas icon="sign-in-alt"></mdb-icon>
           </button>
         </mdb-card-footer>
       </mdb-card>
     </div>
     <!--Grid column-->
     <!--TODOS LOS CURSOS DE SISTEMAS DE LA A-Z-->
     <!--TODOS LOS CURSOS DE ELECTRÓNICA DE LA A-Z-->
      <!--Grid column-->
      <div class="col-md-6 mb-4" style="text-align: center; margin-left: auto; margin-right: auto;">
       <mdb-card class="cardImgCursosContaAZ zoom" style="text-align: center; margin-left: auto; margin-right: auto;">
           <a><img src="../../../assets/cursosElectroAZ.png" class="imgCursosContaAZ"></a>
         <mdb-card-footer class="mdb-color lighten-3 text-center">
           <button mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect>
             Ver Cursos
             <mdb-icon fas icon="sign-in-alt"></mdb-icon>
           </button>
         </mdb-card-footer>
       </mdb-card>
     </div>
     <!--Grid column-->
     <!--TODOS LOS CURSOS DE ELECTRÓNICA DE LA A-Z-->
   </div>  
   <!--Grid row-->
  </section>
  <!--TODOS LOS CURSOS SECCIÓN-->