.ingenierias{
    max-width: 1400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #006195;
}
.imgIngSistemas{
    max-width: 580px;
    max-height: 380px;
}