<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item class="carousel">
        <!--carousel Numero 1-->
        <mdb-card  class="cardCarousel">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-2">El futuro es ahora</h2>
            <!-- Section description -->
            <p class="grey-text text-center w-responsive mx-auto mb-2">"No dejes para después"</p>
        <div class="rowCarousel">    
         <!-- Grid row -->
        <div class="row">
                <!-- Grid column -->
                <div class="col-lg-4 mb-lg-0 mb-4" style="
                text-align: center; 
                margin-left: auto; 
                margin-right: auto;
                max-width: 460px;">
                <!--Image-->
                <img src="../../../assets/carousel1.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
            <div class="col-lg-7" style="
            text-align: center; 
            margin-left: auto; 
            margin-right: auto;">
            <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                    <mdb-icon fas icon="book" size="2x" class="cyan-text"></mdb-icon>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Educación gratuita</h5>
                        <p class="grey-text">"Tienes acceso a todo nuestro contenido educativo, estudia sin limites, crea el futuro."</p>
                    </div>
                </div>
                    <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                    <mdb-icon fas icon="code" size="2x" class="red-text"></mdb-icon>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Herramientas tecnológicas</h5>
                        <p class="grey-text">Contamos con aplicativos innovadores para mejorar la didáctica educativa,
                            podrás poner en práctica cada conocimiento adquirido con muy fácil interactividad.
                        </p>
                    </div>
                </div>
                <!-- Grid row -->
                <!-- Grid row 
                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                    <mdb-icon fas icon="code" size="2x" class="red-text"></mdb-icon>
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Certifícate a bajo costo</h5>
                        <p class="grey-text">Te ofrecemos gran oportunidad de certificar su conocimiento adquirido,
                            a un costo muy asequible, valida los precios.
                        </p>
                        <button mdbBtn type="button" color="default" mdbWavesEffect>Default</button>
                    </div>
                </div>
                 Grid row -->
            </div>
        </div>
        <!-- Grid row -->
        </div>
        </mdb-card>
    </mdb-carousel-item>
    <!--carousel Numero 1 fin-->
    <!--carousel Numero 2-->
    <mdb-carousel-item class="carousel">
        <!--carousel Numero 1-->
        <mdb-card  class="cardCarousel">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-2">La educación te da superpoderes</h2>
            <!-- Section description -->
            <p class="grey-text text-center w-responsive mx-auto mb-2">"Adquiere todo el conocimiento posible y ponlo en práctica
                para mejorar el mundo"</p>
        <div class="rowCarousel">    
            <!-- Grid row -->
        <div class="row">
        <!-- Grid column -->
            <div class="col-lg-7" style="
                text-align: center; 
                margin-left: auto; 
                margin-right: auto;">      
            <!-- Grid row -->      
            <div class="row mb-3">
                <div class="col-md-1 col-2">
                    <mdb-icon fas icon="clipboard-list" size="2x" class="indigo-text"></mdb-icon>
                </div>
                <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Variedad</h5>
                    <p class="grey-text">Podrá tener diversidad de contenido, al cual tiene acceso sin limites alguno, podrá ver las
                        diferentes disciplinas del conocimiento y enfocarte a la que más te apasione.
                    </p>
                </div>
            </div>
            <!-- Grid row -->
            <!-- Grid row-->
            <div class="row mb-3">
                <div class="col-md-1 col-2">
                    <mdb-icon fas icon="medal" size="2x" class="red-text"></mdb-icon>
                </div>
                <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Certifícate a bajo costo</h5>
                    <p class="grey-text">Te ofrecemos gran oportunidad de certificar su conocimiento adquirido,
                        a un costo muy asequible, valida los precios.
                    </p>
                    <button mdbBtn type="button" color="default" mdbWavesEffect>Ver más</button>
                </div>
            </div>
            <!--Grid row -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 mb-lg-0 mb-4" style="
                text-align: center; 
                margin-left: auto; 
                margin-right: auto;
                max-width: 460px;">
        <!--Image-->
            <img src="../../../assets/carousel2.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
    <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </div>
    </mdb-card>
    </mdb-carousel-item>
  </mdb-carousel>