.carousel {
    height: 460px;
}
.cardCarousel{
    max-height: 440px; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
    top: 20px;
    background-color: #eff3f5;
}
.row{
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
    top: 20px;

}
.rowCarousel{
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}