<!--Section: Products v.5-->
<section class="text-center pb-3 my-5" style="margin-bottom: 40px; background-color: #eff3f5;">
    <!--Section heading-->
    <h2>Cursos destacados</h2>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <!--First slide-->
      <mdb-slide >
        <div class="col-md-3" style="margin-bottom: 40px;">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
                <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <div class="col-md-3" style="margin-bottom: 40px;">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
                <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <div class="col-md-3" style="margin-bottom: 40px;">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
                <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo"></mdb-card-img>
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                  <button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Ver Curso</button>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </section>
  <!--Section: Products v.5-->
