<!--Section: Products v.5-->
<section class="text-center pb-3 my-5" style="margin-bottom: 40px; background-color: #eff3f5;">
    <!--Section heading-->
    <a href="" class="cyan-text">
        <h2 class="font-weight-bold mt-2 mb-3">
         Profesores</h2>
      </a>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <!--First slide-->
      <mdb-slide >
        <div class="col-md-3" style="margin-bottom: 40px;">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light zoom" mdbWavesEffect>
              <img src="../../../assets/miguelPaez.jpg" class="imgProfesor">
              <a href="https://miguelpaez.vercel.app" target="_Blank">
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <a href="https://miguelpaez.vercel.app" target="_Blank"><mdb-card-title class="text-default">
                <h4>Miguel Páez</h4>
              </mdb-card-title></a>
            </mdb-card-body>
            <!--Card content-->
            <mdb-card-footer class="info-color text-center">
              <ul class="list-unstyled list-inline font-small mt-3">
                <li class="list-inline-item pr-2 white-text">
                  <a mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect target="_Blank" href="https://miguelpaez.vercel.app">
                    Ver más</a>
                </li>    
                <li class="list-inline-item pr-2">
                  <a href="https://www.instagram.com/miiguelpaez.9612" class="white-text" target="_Blank">
                    <mdb-icon fab icon="instagram"></mdb-icon></a>
                </li>
                <li class="list-inline-item pr-2">
                  <a href="https://www.facebook.com/MiguelPaezUnidigital" class="white-text" target="_Blank" >
                    <mdb-icon fab icon="facebook-f" class="pr-1"> </mdb-icon></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://twitter.com/miguelpaez96" class="white-text" target="_Blank">
                    <mdb-icon fab icon="twitter" class="pr-1"> </mdb-icon></a>
                </li>
              </ul>
            </mdb-card-footer>
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/sebastianMoreno.jpg" class="imgProfesor">
                <a target="_Blank" href="https://sebastianmoreno.vercel.app">
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <a target="_Blank" href="https://sebastianmoreno.vercel.app">
                <mdb-card-title class="text-default">
                  <h4>Sebastian Moreno</h4>
                </mdb-card-title>
                </a>
              </mdb-card-body>
              <!--Card content-->
              <mdb-card-footer class="info-color text-center">
                <ul class="list-unstyled list-inline font-small mt-3">
                  <li class="list-inline-item pr-2 white-text">
                    <a mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect target="_Blank" href="https://sebastianmoreno.vercel.app">
                      Ver más</a>
                  </li>
                  <li class="list-inline-item pr-2">
                    <a href="https://www.instagram.com/sebastianmoreno4308" class="white-text" target="_Blank">
                      <mdb-icon fab icon="instagram"></mdb-icon></a>
                  </li>
                  <li class="list-inline-item pr-2">
                    <a href="https://www.facebook.com/profile.php?id=100050406441564" class="white-text" target="_Blank" >
                      <mdb-icon fab icon="facebook-f" class="pr-1"> </mdb-icon></a>
                  </li>
                </ul>
              </mdb-card-footer>
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/miguelZamora.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <mdb-card-title class="text-default">
                  <h4>Miguel Zamora</h4>
                </mdb-card-title>
              </mdb-card-body>
              <!--Card content-->
              <mdb-card-footer class="info-color text-center">
                <ul class="list-unstyled list-inline font-small mt-3">
                  <li class="list-inline-item pr-2 white-text">
                    <a mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect target="_Blank" href="https://sebastianmoreno.vercel.app">Ver más</a>
                  <li class="list-inline-item pr-2">
                    <a href="https://www.facebook.com/profile.php?id=100050406441564" class="white-text" target="_Blank" >
                      <mdb-icon fab icon="facebook-f" class="pr-1"> </mdb-icon></a>
                  </li>
                </ul>
              </mdb-card-footer>
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/nestorMontoya.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <mdb-card-title class="text-default">
                  <h4>Nestor Montoya</h4>
                </mdb-card-title>
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
              </mdb-card-body>

              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <div class="col-md-3" style="margin-bottom: 40px;">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <img src="../../../assets/sebastianMoreno.jpg" class="imgProfesor">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/nestorMontoya.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/miguelZamora.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/miguelPaez.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <div class="col-md-3" style="margin-bottom: 40px;">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <img src="../../../assets/miguelZamora.jpg" class="imgProfesor">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/nestorMontoya.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/miguelPaez.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
          <div class="col-md-3" style="margin-bottom: 40px;">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="../../../assets/sebastianMoreno.jpg" class="imgProfesor">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="text-center no-padding">
                <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect> Ver curso</a>
              </mdb-card-body>
              <!--Card content-->
            </mdb-card>
            <!--Card-->
          </div>
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </section>
  <!--Section: Products v.5-->
