<br/>
<br/>
<br/>
<br/>    
<mdb-card  class="cardCarousel">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-2">Lo que nos hace diferentes</h2>
        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-2">"No tenemos que hacer lo mismo que otros, podemos crear nuestro propio camino"</p>
        <br/>
        <br/>
        <br/>
    <div class="rowCarousel">    
        <!-- Grid row -->
    <div class="row">
    <!-- Grid column -->
        <div class="col-lg-5" style="
            text-align: left; 
            margin-left: auto; 
            margin-right: auto;">      
        <!-- Grid row -->      
        <div class="row mb-3">
            <div class="col-md-1 col-2">
                <mdb-icon fas icon="clock" size="2x" class="text-primary"></mdb-icon>
            </div>
            <div class="col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">24/7 Disponibilidad</h5>
                <p class="grey-text">Contamos con una gran plataforma que te permite empezar a adquirir el conocimiento
                    en cualquier momento, no tienes que esperar a una oferta educativa o realizar tramitología dispendiosa
                    para ingresar a la carrera que siempre has querido realizar.
                </p>
            </div>
        </div>
        <!-- Grid row -->
        <!-- Grid row-->
        <div class="row mb-3">
            <div class="col-md-1 col-2">
                <mdb-icon fas icon="medal" size="2x" class="text-primary"></mdb-icon>
            </div>
            <div class="col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Costo Universitario</h5>
                <p class="grey-text">El promedio del costo semestral a nivel latinoamericano es muy elevado,
                     convirtiendo la educación profesional a un privilegio de muy pocos y aumentando la desigualdad 
                     en la superación laboral. No obstante en nuestra plataforma realizar una carrera completa 
                     podría en promedio ser 5 veces más económica que las carreras profesionales en universidades
                      tradicionales, también a los estratos 1 y 2 les ofrecemos un convenio especial para su
                       certificación otorgándoles el 50% de descuento. con esto buscamos que la brecha de acceso 
                       disminuya mucho más a nivel latinoamericano.
                </p>
                <button mdbBtn type="button" color="default" mdbWavesEffect>Ver más</button>
            </div>
        </div>
        <!--Grid row -->
         <!-- Grid row-->
         <div class="row mb-3">
            <div class="col-md-1 col-2">
                <mdb-icon fas icon="certificate" size="2x" class="text-primary"></mdb-icon>
            </div>
            <div class="col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Validación de certificación</h5>
                <p class="grey-text">Contamos con la posibilidad para las entidades contratantes validar la certificación 
                    y titulación obtenida en nuestra plataforma por el alumno en cuestión y de la misma forma el alumno
                    puede ver su certificado en cualquier momento que lo requiera.
                </p>
            </div>
        </div>
        <!--Grid row -->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-5" style="
    text-align: left; 
    margin-left: auto; 
    margin-right: auto;">      
<!-- Grid row -->      
<div class="row mb-3">
    <div class="col-md-1 col-2">
        <mdb-icon fas icon="check-double" size="2x" class="text-primary"></mdb-icon>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold mb-3">Facilidad de acceso</h5>
        <p class="grey-text">No tenemos requisitos rigurosos en documentación como: No requiere presentación de examen de 
            estado, No requiere Notas de preparatoria o secundaria escolar, el registro solo requiere de un correo electrónico
            y la certificación se solicita en su momento correo electrónico, documento identidad y nombre completo, con dichos
            datos se plasmará los datos del certificado.
        </p>
    </div>
</div>
<!-- Grid row -->
<!-- Grid row-->
<div class="row mb-3">
    <div class="col-md-1 col-2">
        <mdb-icon fas icon="chalkboard-teacher" size="2x" class="text-primary"></mdb-icon>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold mb-3">Temática pedagógica</h5>
        <p class="grey-text">Ofrecemos rutas académicas que te llevarán de cero a profesional y con la opción de reforzar
            la carrera en ámbitos competitivos con cursos complementarios, en cada curso realizamos diversidad
            de actividades pedagógicas explorando las múltiples inteligencias del ser humano.
        </p>
    </div>
</div>
<!--Grid row -->
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</mdb-card>