<br/>
<br/>
<br/>
<br/>    
<mdb-card  class="cardCarousel">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-2">Lo que nos hace diferentes</h2>
        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-2">"No tenemos que hacer lo mismo que otros, podemos crear nuestro propio camino"</p>
    <div class="rowCarousel">    
        <!-- Grid row -->
    <div class="row">
    <!-- Grid column -->
        <div class="col-lg-5" style="
            text-align: left; 
            margin-left: auto; 
            margin-right: auto;">      
        <!-- Grid row -->      
        <div class="row mb-3">
            <div class="col-md-1 col-2">
                <mdb-icon fas icon="clipboard-list" size="2x" class="indigo-text"></mdb-icon>
            </div>
            <div class="col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Variedad</h5>
                <p class="grey-text">Podrá tener diversidad de contenido, al cual tiene acceso sin limites alguno, podrá ver las
                    diferentes disciplinas del conocimiento y enfocarte a la que más te apasione.
                </p>
            </div>
        </div>
        <!-- Grid row -->
        <!-- Grid row-->
        <div class="row mb-3">
            <div class="col-md-1 col-2">
                <mdb-icon fas icon="medal" size="2x" class="red-text"></mdb-icon>
            </div>
            <div class="col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Certifícate a bajo costo</h5>
                <p class="grey-text">Te ofrecemos gran oportunidad de certificar su conocimiento adquirido,
                    a un costo muy asequible, valida los precios.
                </p>
                <button mdbBtn type="button" color="default" mdbWavesEffect>Ver más</button>
            </div>
        </div>
        <!--Grid row -->
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-5" style="
    text-align: left; 
    margin-left: auto; 
    margin-right: auto;">      
<!-- Grid row -->      
<div class="row mb-3">
    <div class="col-md-1 col-2">
        <mdb-icon fas icon="clipboard-list" size="2x" class="indigo-text"></mdb-icon>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold mb-3">Variedad</h5>
        <p class="grey-text">Podrá tener diversidad de contenido, al cual tiene acceso sin limites alguno, podrá ver las
            diferentes disciplinas del conocimiento y enfocarte a la que más te apasione.
        </p>
    </div>
</div>
<!-- Grid row -->
<!-- Grid row-->
<div class="row mb-3">
    <div class="col-md-1 col-2">
        <mdb-icon fas icon="medal" size="2x" class="red-text"></mdb-icon>
    </div>
    <div class="col-md-11 col-10">
        <h5 class="font-weight-bold mb-3">Certifícate a bajo costo</h5>
        <p class="grey-text">Te ofrecemos gran oportunidad de certificar su conocimiento adquirido,
            a un costo muy asequible, valida los precios.
        </p>
        <button mdbBtn type="button" color="default" mdbWavesEffect>Ver más</button>
    </div>
</div>
<!--Grid row -->
</div>
<!-- Grid column -->
</div>
<!-- Grid row -->
</div>
</mdb-card>