<br/>
<br/>
<br/>
<br/>    
<mdb-card  class="cardCarousel">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-2">Manual de Usuario</h2>
        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-2">"En este apartado podrà encontrar el manual o guìa de usuario, el cual le permitirà
            validar las espectativas de uso sobre la aplicación móvil APPIN o despejar dudas de su respectiva funcionalidad"</p>
        <br/>
        <br/>
        <br/>
    <div class="rowCarousel">    
        <!-- Grid row -->
    <div class="row">
    </div>
    <!-- Grid row -->
</div>
</mdb-card>
