<header>
    <!--Section: Blog v.4-->
<section class="my-5">
  <mdb-card class="cardHeader">
  <h2 class="font-weight-bold h1 py-5">
    <strong>APPIN <mdb-icon fas icon="qrcode" class="red-text"></mdb-icon></strong>
  </h2>

  <!--Grid row-->
  <div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-2  waves-light zoom" mdbWavesEffect>
        <picture>
          <source type="image/webp" srcset="https://res.cloudinary.com/appin/image/upload/v1611852619/assetsAppin/UnivalleImgSmall_1_e9y4ll.webp">
            <source type="image/jpeg" srcset="https://res.cloudinary.com/appin/image/upload/v1611852571/assetsAppin/UnivalleImgSmall_e56ypu.jpg">  
              <img src="https://res.cloudinary.com/appin/image/upload/v1611852571/assetsAppin/UnivalleImgSmall_e56ypu.jpg" class="img-fluid" alt="Sample project image">
        </picture>
       
        <a href="http://cartago.univalle.edu.co/" target="_blank">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body>
        <a href="http://cartago.univalle.edu.co/" target="_blank" class="red-text">
          <h5 class="font-weight-bold mt-2 mb-3">
            <mdb-icon fas icon="university"></mdb-icon> Universidad del valle sede Cartago</h5>
        </a>
        <a mdbBtn type="button" color="danger" outline="true" mdbWavesEffect href="http://cartago.univalle.edu.co/" target="_blank">Ver más...</a>
      </mdb-card-body>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-2  waves-light zoom" mdbWavesEffect>
        <picture>
          <source type="image/webp" srcset="https://res.cloudinary.com/appin/image/upload/v1611853014/assetsAppin/UnivalleImgYumbo_pkv6vk.webp">
            <source type="image/jpeg" srcset="https://res.cloudinary.com/appin/image/upload/v1611853013/assetsAppin/UnivalleImgYumbo_e6l18s.jpg">  
              <img src="https://res.cloudinary.com/appin/image/upload/v1611853013/assetsAppin/UnivalleImgYumbo_e6l18s.jpg" class="img-fluid" alt="Sample project image">
        </picture>
        <a href="http://yumbo.univalle.edu.co/" target="_blank">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body>
        <a href="http://yumbo.univalle.edu.co/" target="_blank" class="red-text">
          <h5 class="font-weight-bold mt-2 mb-3">
            <mdb-icon fas icon="university"></mdb-icon> Universidad del valle sede Yumbo</h5>
        </a>
        <a mdbBtn type="button" color="danger" outline="true" mdbWavesEffect href="http://yumbo.univalle.edu.co/" target="_blank">
          Ver más...</a>
      </mdb-card-body>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</mdb-card>
  
  </section>
  <!--Section: Blog v.4-->
</header>