<!-- Projects section v.3 -->
<section class="my-5">
  <hr class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Appin App</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">Es un proyecto de aplicación móvil desarrollado por el grupo de
    investigación GIIDEA de la universidad del valle para cumplir los siguientes objetivos:
  </p>
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-5 zoom" >
      <!--Image-->
      <picture class="imgIntroApp">
      <source type="image/webp" srcset="https://res.cloudinary.com/appin/image/upload/v1611783234/assetsAppin/introAppImg_rixlqh.webp" class="imgIntroApp">
      <source type="image/jpeg" srcset="https://res.cloudinary.com/appin/image/upload/v1611783234/assetsAppin/introAppImg_ljgqay.jpg" class="imgIntroApp">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1" class="imgIntroApp">
      </picture>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-7">
      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="users" size="2x" class="cyan-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">FORUM</h5>
          <p class="grey-text">universidad del valle siempre va a estar dispuesta con la reglamentación local por las secretarías 
            de salud o ministerio de salud en el cual se velará por el cumplimiento del forum recomendado para cada sede, en la 
            aplicación y web del proyecto APPIN  a nuestros usuarios o al público se reflejará el forum en su momento y de la misma
            forma cada sede podrá velar por su cumplimiento realizando control al máximo de personas que ingresan al campus.
          </p>
        </div>
      </div>
      <!-- Grid row -->
      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="database" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Recolección de datos individuales del usuario</h5>
          <p class="grey-text">La aplicación permitirá realizar seguimiento individual de cada usuario desde el momento
            que ingresa al campus universitario, permite su identificación, fecha y hora de ingreso.
            Desde su ingreso realiza un proceso de notificaciones para realizar el lavado de manos varias veces durante
            su estadía en el campus, permitiendo mantener un ambiente sano y evitando posibles contagios, en caso que el 
            usuario no realice el proceso de lavado el personal administrativo podrá evidenciar la falta del proceso del usuario
            y poder dirigirse a él a su llamado a realizar el proceso de desinfección. 
          </p>
        </div>
      </div>
      <!-- Grid row -->
      <!-- Grid row -->
      <div class="row">
        <div class="col-md-1 col-2">
          <mdb-icon fas icon="heartbeat" size="2x" class="red-text"></mdb-icon>
        </div>
        <div class="col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Datos individuales del estado de salud</h5>
          <p class="grey-text mb-0">Cada día desde el ingreso se tomará la temperatura y oxigenación del usuario, siendo esta
            información necesaria para su ingreso, pero no obstante el usuario puede indicar síntomas adicionales como dolor de 
            garganta, tos, dificultad para respirar, dolor muscular o ninguno, siendo estos datos necesarios para identificar
            desde el área administrativa algún usuario con posibilidades de ser portador del covid-19 y prevenir contagiar a 
            más integrantes del campus universitario.
          </p>
        </div>
      </div>
      <!-- Grid row -->
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <hr class="my-5">
</section>
<!-- Projects section v.3 -->